@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap");
a {
  text-decoration: none; }

li {
  list-style: none; }

p {
  font-size: 12px; }
  @media (min-width: 800px) {
    p {
      font-size: 15px; } }
  @media (min-width: 1200px) {
    p {
      font-size: 18px; } }

body {
  font-family: 'Roboto', sans-serif;
  background-color: #3f3f3f; }
  body img {
    width: 100%; }
  body a {
    text-decoration: none; }
  body .container {
    max-width: 1000px;
    height: 100%;
    margin: 0 auto;
    background-color: #fff;
    color: black;
    z-index: -100; }

.hero {
  position: relative;
  min-height: 350px;
  text-align: center;
  background: url(../images/careers/hero-image.jpg) no-repeat center center;
  background-size: cover;
  z-index: 0;
  display: flex;
  justify-content: center;
  align-items: center; }

.hero::before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  z-index: 1; }

.hero-text {
  color: #fff;
  max-width: 700px;
  padding: 0 20px;
  z-index: 10;
  font-size: 14px; }

.hero-title {
  font-size: 45px;
  margin-bottom: 10px; }

.careers {
  padding: 50px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 3em; }

.careers-box {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  z-index: 1;
  height: 230px; }

.careers-box-time,
.careers-box-caption {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.7s;
  transition: all 0.6s ease-out; }

.careers-box:hover .careers-box-time,
.careers-box:hover .careers-box-caption {
  visibility: visible;
  opacity: 1; }

.careers-box:hover .careers-box-title {
  opacity: 0;
  visibility: hidden; }

.careers-box:hover::before {
  background-color: rgba(0, 0, 0, 0.8); }

.careers-box-text,
.careers-box-title {
  position: absolute;
  color: #fff;
  width: 100%;
  z-index: 15;
  overflow: hidden;
  transition: all 0.3s ease-in-out;
  padding: 0 20px; }

.careers-box-title {
  font-weight: bold;
  font-size: 20px;
  padding: 0 10px; }

.careers-box-time {
  font-size: 16px;
  padding: 8px 15px; }

.careers-box-caption {
  font-size: 12px;
  padding: 0 15px; }

.careers-box::before {
  content: ' ';
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.3);
  transition: all 0.6s ease-out;
  z-index: 12; }

.box-alarm {
  background: url(../images/careers/image2.jpg) no-repeat center center; }

.box-cassales {
  background: url(../images/careers/image3.jpg) no-repeat center center; }

.box-homeavsales {
  background: url(../images/careers/image4.jpg) no-repeat center center; }

.box-customerservice {
  background: url(../images/careers/image5.jpg) no-repeat center center; }

.box-warehouse {
  background: url(../images/careers/image6.jpg) no-repeat center center; }

.box-alarm,
.box-cassales,
.box-customerservice,
.box-homeavsales,
.box-warehouse {
  background-size: cover; }

.brand-logos {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  padding: 0 100px;
  flex-wrap: wrap; }
  .brand-logos div {
    padding: 20px; }
    .brand-logos div img {
      max-width: 150px; }

@media only screen and (max-width: 800px) {
  .careers {
    grid-template-columns: repeat(2, 1fr); } }

@media only screen and (max-width: 500px) {
  .hero-title {
    font-size: 35px; }
  .careers {
    grid-template-columns: repeat(1, 1fr); } }
